*.pyc
__pycache__
myvenv
db.sqlite3
.DS_store
.CFUserTextEncoding
.Trash/
.bash_history
.config/
.dropbox/
.oh-my-zsh/
.python_history
.ssh/
.vim/
.viminfo
.vimrc
.zcompdump-MacBook Pro de Maria-5.0.8
.zprofile
.zsh-update
.zsh_history
.zshrc
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
bin/